@font-face {
  font-family: "Muller";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Muller"),
    url("../assets//fonts/MullerRegular.woff2") format("woff2"),
    url("../assets//fonts/MullerRegular.woff") format("woff");
}

@font-face {
  font-family: "Muller";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local("Muller"),
    url("../assets//fonts/MullerMedium.woff2") format("woff2"),
    url("../assets//fonts/MullerMedium.woff") format("woff");
}

@font-face {
  font-family: "Muller";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local("Muller"),
    url("../assets//fonts/MullerBold.woff2") format("woff2"),
    url("../assets//fonts/MullerBold.woff") format("woff");
}

:root {
  --color-cream-can: #f0bf5f;
  --color-black: #000000;
  --color-buttered-rum: #a47312;
  --color-dove-gray: #666666;
  --color-dusty-gray: #999999;
  --color-hokey-pokey: #cc9933;
  --color-mercury: #e9e9e9;
  --color-mine-shaft: #333333;
  --color-seashell: #f1f1f1;
  --color-white: #ffffff;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  line-height: 1;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  font-family: "Muller", sans-serif;
  font-weight: 400;
  background-color: var(--color-seashell);
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
  object-fit: cover;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1200px;
}

.header {
  padding: 30px 0 25px;
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__left {
  display: flex;
  align-items: center;
  column-gap: 40px;
}

.header__logo {
  position: relative;
  border-radius: 15px;
  max-width: 261px;
  overflow: hidden;
}

.header__logo::before {
  position: absolute;
  content: '';
  display: block;
  width: 10px;
  height: 60px;
  transform: skewX(-40deg) translateX(-40px);
  transition-property: transform;
  transition-duration: .7s;
  background-color: var(--color-mercury);
  opacity: 0;
}

.header__logo:hover::before {
  transform: skewX(-40deg) translateX(280px);
  opacity: .7;
}

.header__link-tel {
  color: var(--color-dove-gray);
  font-size: 20px;
  font-weight: 500;
  transition-property: color;
  transition-duration: .1s;
}

.header__link-tel:focus {
  outline: 1px solid var(--color-hokey-pokey);
  outline-offset: 4px;
  color: var(--color-hokey-pokey);
}

.header__link-tel:hover {
  color: var(--color-hokey-pokey);
}

.header__link-tel:active {
  outline: none;
  color: var(--color-buttered-rum);
}

.header__account {
  display: flex;
  align-items: flex-start;
  gap: 5px;
}

.header__account-arrow {
  width: 21px;
  height: 12px;
  fill: var(--color-hokey-pokey);
  transition-property: fill;
  transition-duration: .1s;
}

.header__account-text {
  color: var(--color-hokey-pokey);
  font-size: 16px;
  font-weight: 400;
  line-height: 14px;
  transition-property: color;
  transition-duration: .1s;
}

.header__account:focus {
  outline: 1px solid var(--color-hokey-pokey);
  outline-offset: 9px;
}

.header__account:focus .header__account-text  {
  color: var(--color-hokey-pokey);
}

.header__account:focus .header__account-arrow {
  fill: var(--color-hokey-pokey);
}

.header__account:hover .header__account-text  {
  color: var(--color-cream-can);
}

.header__account:hover .header__account-arrow {
  fill: var(--color-cream-can);
}

.header__account:active .header__account-text  {
  outline: none;
  color: var(--color-buttered-rum);
}

.header__account:active .header__account-arrow {
  fill: var(--color-buttered-rum);
}

.navigation {
  padding-bottom: 70px;
}

.navigation__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 15px;
  padding: 14px 45px;
  background-color: var(--color-white);
}

.nav__navigation-list {
  display: flex;
  align-items: center;
  gap: 45px;
}

.nav__navigation-item {
  color: var(--color-dove-gray);
  font-size: 16px;
  font-weight: 400;
}

.nav__navigation-link {
  transition-property: color;
  transition-duration: .1s;
}

.nav__navigation-link:focus {
  outline: 1px solid var(--color-hokey-pokey);
  outline-offset: 4px;
  color: var(--color-hokey-pokey);
}

.nav__navigation-link:hover {
  color: var(--color-hokey-pokey);
}

.nav__navigation-link:active {
  outline: none;
  color: var(--color-buttered-rum);
}

.navigation__btn-list {
  display: flex;
  align-items: center;
  gap: 40px;
}

.navigation__btn-link {
  border-radius: 10px;
  padding: 13px 20px;
  border: 1px solid var(--color-hokey-pokey);
  color: var(--color-hokey-pokey);
  font-size: 16px;
  font-weight: 400;
  line-height: 1;
  background-color: #fff;
  cursor: pointer;
  transition-property: color, background-color;
  transition-duration: .1s;
}

.navigation__btn-link:focus {
  outline: none;
  color: var(--color-white);
  background-color: var(--color-hokey-pokey);
}

.navigation__btn-link:hover {
  color: var(--color-white);
  background-color: var(--color-hokey-pokey);
}

.navigation__btn-link:active {
  color: var(--color-white);
  background-color: var(--color-buttered-rum);
}

.offers {
  padding-bottom: 70px;
}

.offers__title {
  margin: 0 0 20px;
  padding-left: 40px;
  color: var(--color-mine-shaft);
  font-size: 40px;
  font-weight: 400;
}

.offers__lists-wrap {
  display: flex;
  justify-content: space-between;
  gap: 24px;
}

.offers__list-left {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;
}

.offers__item {
  min-height: 258px;
  border-radius: 15px;
  background-repeat: no-repeat;
  background-size: cover;
}

.offers__item_1 {
  background-image: linear-gradient(90deg, rgba(48, 64, 89, 0.84) -2.9%, rgba(53, 65, 83, 0.00) 65.7%),
    url('../assets/img/offers-1@1x.jpg');
}

.offers__item_2 {
  background-image: linear-gradient(90deg, rgba(48, 64, 89, 0.84) -2.9%, rgba(53, 65, 83, 0.00) 65.7%),
    url('../assets/img/offers-2@1x.jpg');
}

.offers__item_3 {
  background-image: url('../assets/img/offers-3@1x.jpg');
}

.offers__item-link_small {
  padding: 40px 45px;
}

.offers__item-link {
  display: flex;
  flex-direction: column;
}

.offers__item-title {
  margin: 0 0 15px;
  max-width: 400px;
  color: var(--color-white);
  font-size: 40px;
  font-weight: 700;
}

.offers__item-price {
  margin-bottom: 47px;
  color: var(--color-white);
  font-size: 20px;
  font-weight: 400;
  opacity: 0.8;
}

.offers__item-bottom {
  display: flex;
  align-items: center;
}

.offers__item-bottom-text {
  margin-right: 5px;
  color: var(--color-cream-can);
  font-family: Muller;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.4;
  transition: color .2s;
 }

.offers__item-bottom-arrow {
  height: 17px;
  width: 11px;
  stroke: var(--color-cream-can);
  transition: transform .3s;
}

.offers__item-link:focus {
  outline: 1px solid var(--color-hokey-pokey);
  outline-offset: 5px;
}

.offers__item-link:hover .offers__item-bottom-arrow {
  transform: translateX(11px); 
}

.offers__item-link:active .offers__item-bottom-arrow {
  transform: translateX(0px); 
}

.offers__item-link:active .offers__item-bottom-text{
  color: var(--color-white);
}

.offers__list-right {
  width: 100%;
}

.offers__item_3 {
  height: 100%;
}

.offers__item-link_big {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  padding: 40px 45px;
  width: 100%;
  height: 100%;
}

.offers__item-title_big {
  max-width: 300px;
  font-size: 60px;
}

.offers__item-price_big {
  font-size: 30px;
}

.about {
  padding-bottom: 70px;
}

.about__title {
  margin: 0 0 20px;
  padding-left: 40px;
  color: var(--color-mine-shaft);
  font-size: 40px;
  font-weight: 400;
}

.about__descr {
  max-width: 888px;
  color: var(--color-black);
  font-size: 16px;
  font-weight: 400;
  line-height: 200%;
}

.services {
  padding-bottom: 70px;
}

.services__title {
  margin: 0 0 20px;
  padding-left: 40px;
  color: var(--color-mine-shaft);
  font-size: 40px;
  font-weight: 400;
}

.services__list {
  --services-list-gap: 24px;
  --services-list-offsets: 1;
  --services-list-items: calc(var(--services-list-offsets) + 1);
  display: flex;
  flex-wrap: wrap;
  gap: var(--services-list-gap);
  justify-content: space-between;
}

.services__item {
  flex-grow: 1;
  width: calc((100% - var(--services-list-gap) * var(--services-list-offsets)) / var(--services-list-items));
  border-radius: 15px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top center;
  background-color: var(--color-white);
}

.services__item-link {
  display: block;
  width: 100%;
  padding-top: 165px;
}

.services__item_1 {
  background-image: url('../assets/img/services-1@1x.jpg');
}

.services__item_2 {
  background-image: url('../assets/img/services-2@1x.jpg');
}

.services__item_3 {
  background-image: url('../assets/img/services-3@1x.jpg');
}

.services__item_4 {
  background-image: url('../assets/img/services-4@1x.jpg');
}

.services__item-content {
  padding: 26px 45px 35px;
}

.services__item-title-wrap {
  display: flex;
  align-items: center;
}

.services__item-title {
  margin: 0 8px 0 0;
  color: var(--color-hokey-pokey);
  font-size: 20px;
  font-weight: 500;
  line-height: 200%;
  transition: color .3s;
}

.services__item-title-arrow {
  height: 17px;
  width: 11px;
  stroke: var(--color-hokey-pokey);
  transition-property: transform, stroke;
  transition-duration: .3s;
}

.services__item-descr {
  margin: 0;
  max-width: 402px;
  color: var(--color-black);
  font-size: 16px;
  font-weight: 400;
  line-height: 200%;
}

.services__item-link:focus {
  outline: 1px solid var(--color-hokey-pokey);
  outline-offset: 8px;
}

.services__item-link:focus .services__item-title {
  color: var(--color-hokey-pokey);
}

.services__item-link:focus .services__item-title-arrow {
  stroke: var(--color-hokey-pokey);
  transform: translateX(0px); 
}

.services__item-link:hover .services__item-title {
  color: var(--color-cream-can);
}

.services__item-link:hover .services__item-title-arrow  {
  stroke: var(--color-cream-can);
  transform: translateX(11px); 
}

.services__item-link:active {
  outline: none;
}

.services__item-link:active .services__item-title {
  color: var(--color-buttered-rum);
}

.services__item-link:active .services__item-title-arrow  {
  stroke: var(--color-buttered-rum);
  transform: translateX(0px); 
}

.advantages {
  padding-bottom: 70px;
}

.advantages__title {
  margin: 0 0 20px;
  padding-left: 40px;
  color: var(--color-mine-shaft);
  font-size: 40px;
  font-weight: 400;
}

.advantages__list {
  --advantages-list-gap: 22px;
  --advantages-list-offsets: 3;
  --advantages-list-items: calc(var(--advantages-list-offsets) + 1);
  display: flex;
  flex-wrap: wrap;
  gap: var(--advantages-list-gap);
}

.advantages__item {
  padding: 40px 42px 32px 45px;
  flex-grow: 1;
  border-radius: 15px;
  width: calc((100% - var(--advantages-list-gap) * var(--advantages-list-offsets)) / var(--advantages-list-items));
  background-color: var(--color-white);
}

.advantages__item-descr {
  margin: 0;
  padding-top: 74px;
  color: var(--color-black);
  font-size: 16px;
  font-weight: 400;
  line-height: 200%;
  background-repeat: no-repeat;
  background-position: top left;
  background-size: 65px auto;
}

.advantages__item-descr-1 {
  background-image: url('../assets/svg/advantages-1.svg');
}

.advantages__item-descr-2 {
  background-image: url('../assets/svg/advantages-2.svg');
}

.advantages__item-descr-3 {
  background-image: url('../assets/svg/advantages-3.svg');
}

.advantages__item-descr-4 {
  background-image: url('../assets/svg/advantages-4.svg');
}

.advantages__item-descr-5 {
  background-image: url('../assets/svg/advantages-5.svg');
}

.advantages__item-descr-6 {
  background-image: url('../assets/svg/advantages-6.svg');
}

.advantages__item-descr-7 {
  background-image: url('../assets/svg/advantages-7.svg');
}

.advantages__item-descr-8 {
  background-image: url('../assets/svg/advantages-8.svg');
}

.hotels {
  padding-bottom: 70px;
}

.hotels__title {
  margin: 0 0 20px;
  padding-left: 40px;
  color: var(--color-mine-shaft);
  font-size: 40px;
  font-weight: 400;
}

.hotels__list {
  --hotels-list-gap: 22px;
  --hotels-list-offsets: 2;
  --hotels-list-items: calc(var(--hotels-list-offsets) + 1);
  display: flex;
  flex-wrap: wrap;
  gap: var(--hotels-list-gap);
}

.hotels__item {
  min-height: 440px;
  width: calc((100% - var(--hotels-list-gap) * var(--hotels-list-offsets)) / var(--hotels-list-items));
}

.hotels__item-content {
  overflow: hidden;
  border-radius: 15px;
  background-color: var(--color-white);
}

.hotels__item-info {
  display: flex;
  flex-direction: column;
  padding: 32px 45px 45px;
}

.hotels__item-price {
  margin-bottom: 16px;
}

.hotels__item-title {
  margin: 0 0 16px;
  color: var(--color-black);
  font-size: 16px;
  font-weight: 400;
}

.hotels__item-address {
  margin: 0 0 20px;
  color: var(--color-dusty-gray);
  font-size: 16px;
  font-weight: 400;
}

.hotels__item-btn {
  margin-top: auto;
  border-radius: 10px;
  border: 1px solid var(--color-hokey-pokey);
  padding: 13px 20px;
  max-width: 100px;
  color: var(--color-hokey-pokey);
  font-size: 16px;
  font-weight: 400;
  line-height: 1;
  text-align: center;
  transition: color .2s, background-color .2s;
}

.hotels__item-btn:focus {
  outline: none;
  color: var(--color-white);
  background-color: var(--color-hokey-pokey);
}

.hotels__item-btn:hover {
  color: var(--color-white);
  background-color: var(--color-hokey-pokey);
}

.hotels__item-btn:active {
  color: var(--color-white);
  background-color: var(--color-buttered-rum);
}

.hotels__item-rate {
  background-repeat: no-repeat;
  background-position: right center;
}

.hotels__item-rate_4-stars {
    background-image: url('../assets/svg/rate-4-stars.svg');
}

.hotels__item-rate_5-stars {
    background-image: url('../assets/svg/rate-5-stars.svg');
}

.hotels__item-text-light {
  color: var(--color-dusty-gray);
  font-size: 16px;
  font-weight: 400;
}

.hotels__item-text-bold {
  color: var(--color-black);
  font-size: 20px;
  font-weight: 700;
}

.hotels__item-text-regular {
  color: var(--color-black);
  font-size: 16px;
  font-weight: 400;
}

.hotels__item:last-child {
  display: flex;
  border-radius: 15px;
  background-image: url('../assets/img/hotels-last@1x.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hotels__item-link {
  display: flex;
  align-items: flex-end;
  gap: 5px;
  padding: 27px 54px;
  width: 100%;
  height: 100%;
}

.hotels__item-link-text {
  color: var(--color-white);
  font-size: 20px;
  font-weight: 500;
  line-height: 1;
  transition: color .3s;
}

.hotels__item-link-arrow {
  width: 11px;
  height: 18px;
  stroke: var(--color-white);
  transition-property: transform, stroke; 
  transition-duration: .3s;
}

.hotels__item-link:focus {
  outline-offset: 4px;
  outline: 1px solid var(--color-hokey-pokey);
}

.hotels__item-link:hover .hotels__item-link-arrow {
  transform: translateX(7px);
}

.hotels__item-link:active .hotels__item-link-text {
  color: var(--color-cream-can);
}

.hotels__item-link:active .hotels__item-link-arrow {
  stroke: var(--color-cream-can);
  transform: translateX(0px);
}

.booking {
  padding-bottom: 76px;
}

.booking__container {
  border-radius: 15px;
  padding: 41px 44px;
  background-color: var(--color-mercury);
}

.booking__title {
  margin: 0 0 18px;
  color: var(--color-black);
  font-size: 40px;
  font-weight: 400;
}

.booking__form {
  display: flex;
  align-items: center;
  gap: 21px;
  border-radius: 15px;
  padding: 27px 29px;
  background-color: var(--color-white);
}

.form__group:last-child {
  margin-right: 31px;
}

.booking__form-title {
  display: inline-block;
  margin-bottom: 15px;
  color: var(--color-black);
  font-size: 12px;
  font-weight: 400;
  line-height: normal;
}

.booking__form-input {
  border: none;
  color: var(--color-black);
  font-size: 16px;
  font-weight: 400;
}

.booking__form-input_nights,
.booking__form-input_guests{
  max-width: 121px;
  border-bottom: 1px solid var(--color-mercury);
}

.booking__form-btn {
  border-radius: 10px;
  border: 1px solid var(--color-hokey-pokey);
  padding: 13px 30px;
  color: var(--color-hokey-pokey);
  font-size: 16px;
  font-weight: 400;
  line-height: 1;
  background: none;
  cursor: pointer;
  transition-property: color, background-color;
  transition-duration: .1s;
}

.booking__form-btn:focus {
  outline: none;
  color: var(--color-white);
  background-color: var(--color-hokey-pokey);
}

.booking__form-btn:hover {
  color: var(--color-white);
  background-color: var(--color-hokey-pokey);
}

.booking__form-btn:active {
  color: var(--color-white);
  background-color: var(--color-buttered-rum);
}

.contacts {
  padding-bottom: 35px;
}

.contacts__title {
  margin: 0 0 20px;
  padding-left: 40px;
  color: var(--color-mine-shaft);
  font-size: 40px;
  font-weight: 400;
}

.contacts__content {
  display: flex;
  gap: 52px;
  border-radius: 15px;
  padding: 45px;
  background-color: var(--color-white);
}

.contacts__left {
  flex-shrink: 0;
  width: 375px;
}

.contacts__list {
  margin-bottom: 45px;
}

.contacts__list-item {
  display: flex;
  border-bottom: 1px solid var(--color-mercury);
  padding-bottom: 23px;
}

.contacts__list-item:not(:first-child)  {
  padding-top: 25px;
}

.contacts__list-title {
  flex-shrink: 0;
  margin: 0 45px 0 0;
  width: 100px;
  color: var(--color-black);
  font-size: 20px;
  font-weight: 700;
}

.contacts__list-descr {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: var(--color-black);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.contacts__list-link {
  color: var(--color-hokey-pokey);
  transition-property: color;
  transition-duration: .1s;
}

.contacts__list-link:focus {
  outline: 1px solid var(--color-hokey-pokey);
  outline-offset: 1px;
  color: var(--color-hokey-pokey);
}

.contacts__list-link:hover {
  color: var(--color-cream-can);
}

.contacts__list-link:active {
  outline: none;
  color: var(--color-buttered-rum);
}

.contacts__list-text {
  color: var(--color-dusty-gray);
}

.contacts__btn {
  display: inline-block;
  border-radius: 10px;
  border: 1px solid var(--color-hokey-pokey);
  padding: 30px;
  color: var(--color-hokey-pokey);
  font-size: 16px;
  font-weight: 400;
  cursor: pointer;
  transition-property: color, background-color;
  transition-duration: .1s;
}

.contacts__btn:focus {
  outline: none;
  color: var(--color-white);
  background-color: var(--color-hokey-pokey);
}

.contacts__btn:hover {
  color: var(--color-white);
  background-color: var(--color-hokey-pokey);
}

.contacts__btn:active {
  color: var(--color-white);
  background-color: var(--color-buttered-rum);
}

.contacts__right {
  width: 100%;
  background-image: url('../assets/img/contacts-1@1x.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.footer {
  padding-bottom: 30px;
}

.footer__wrap {
  --footer-gap: 80px;
  --footer-offsets: 2;
  --footer-items: calc(var(--footer-offsets) + 1);
  display: flex;
  gap: var(--footer-gap);
  padding: 45px;
  border-radius: 15px;
  background-color: var(--color-mine-shaft);
  background-image: url('../assets/svg/logo-footer.svg');
  background-repeat: no-repeat;
  background-position: 80% bottom;
}

.footer__left {
  /* flex-grow: 1; */
  display: flex;
  flex-direction: column;
  gap: 37px;
  /* width: 375px; */
  width: calc((100% - var(--footer-gap) * var(--footer-offsets)) / var(--footer-items));

}

.footer__text {
  color: var(--color-white);
  font-size: 16px;
  font-weight: 400;
  line-height: 190%;
}

.footer__left-text {
  max-width: 320px;
}

.footer__center {
  display: flex;
  /* flex-grow: 1; */
  flex-direction: column;
  gap: 15px;
  width: calc((100% - var(--footer-gap) * var(--footer-offsets)) / var(--footer-items));
}

.footer__link-wrap {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 9px;
}

.footer__right {
  display: flex;
  justify-content: flex-end;
  width: 25px;

}

.footer__link {
  display: inline-block;
  color: var(--color-hokey-pokey);
  font-size: 16px;
  font-weight: 400;
  line-height: 1;
}

.footer__link:focus {
  outline: 1px solid var(--color-hokey-pokey);
  outline-offset: 2px;
  color: var(--color-hokey-pokey);
}

.footer__link:hover {
  color: var(--color-cream-can);
}

.footer__link:active {
  outline: none;
  color: var(--color-buttered-rum);
}

.social-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.social-list__link {
  display: block;
  width: 25px;
  height: 25px;
}

.social-list__svg {
  fill: var(--color-dusty-gray);
  transition-property: fill;
  transition-duration: .1s;
  width: 25px;
  height: 25px;
}

.social-list__link:focus {
  outline: none;
}

.social-list__link:focus .social-list__svg {
  fill: var(--color-hokey-pokey);
}

.social-list__link:hover .social-list__svg {
  fill: var(--color-hokey-pokey);
}

.social-list__link:active .social-list__svg {
  fill: var(--color-buttered-rum);
}


@media (min-resolution: 2dppx) {
  .offers__item_1 {
    background-image: linear-gradient(90deg, rgba(48, 64, 89, 0.84) -2.9%, rgba(53, 65, 83, 0.00) 65.7%),
      url('../assets/img/offers-1@2x.jpg');
  }
  
  .offers__item_2 {
    background-image: linear-gradient(90deg, rgba(48, 64, 89, 0.84) -2.9%, rgba(53, 65, 83, 0.00) 65.7%),
      url('../assets/img/offers-2@2x.jpg');
  }
  
  .offers__item_3 {
    background-image: url('../assets/img/offers-3@2x.jpg');
  }
  
  .services__item_1 {
    background-image: url('../assets/img/services-1@2x.jpg');
  }
  
  .services__item_2 {
    background-image: url('../assets/img/services-2@2x.jpg');
  }
  
  .services__item_3 {
    background-image: url('../assets/img/services-3@2x.jpg');
  }
  
  .services__item_4 {
    background-image: url('../assets/img/services-4@2x.jpg');
  }
  
  
  .hotels__item:last-child {
    background-image: url('../assets/img/hotels-last@2x.jpg');
  }
  
  .contacts__right {
    background-image: url('../assets/img/contacts-1@2x.jpg');
  }
}




